@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: var(--VeryDarkBlue1);
  font-family: Commissioner;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
 --DarkBlue: hsl(209, 23%, 22%);
 --VeryDarkBlue1 : hsl(207, 26%, 17%);
 --VeryDarkBlue2 : hsl(200, 15%, 8%);
 --DarkGray : hsl(0, 0%, 52%);
 --VeryLightGray : hsl(0, 0%, 98%);
 --White : hsl(0, 0%, 100%);
}

.bg-vdb1{
  background-color: var(--VeryDarkBlue1);
}
.bg-vdb2{
  background-color: var(--DarkBlue);
}

.bg-vdb{
  background-color: var(--VeryDarkBlue2);
}

.color-dgray{
  background-color: var(--DarkGray);
}
.color-gray{
  color: rgb(197, 197, 197);
}