@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Commissioner;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}




.flex {
  display: flex;
}
.f-col{
  flex-direction: column;
}
.al-self-center {
  align-self: center;
}

.list-style-none {
  list-style: none;
}

.justify-center{
  justify-content: center;
}
.al-center {
  align-items: center;
}
.just-s-b {
  justify-content: space-between;
}
.d-none {
  display: none;
}
.br-rd{
  border-radius: 1rem;
}
.bx-sizing-cb {
  box-sizing: content-box;
}