@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}


// ### Primary

$Orange: hsl(26, 100%, 55%);
$PaleOrange: hsl(25, 100%, 94%);

// ### Neutral

$VeryDarkBlue: hsl(220, 13%, 13%);
$DarkGrayishBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$BlackWith75opacity: hsl(0, 0%, 0%);

.flex {
  display: flex;
}
.f-col{
  flex-direction: column;
}
.al-self-center {
  align-self: center;
}