@use './/../styles/baseGlobals' as c;


.btn {
    background-color: rgba(255, 166, 0, 0.946);
    border: 0;
    border-radius: 0.5rem;
    color: white;
    width: 90%;
    cursor: pointer;
    transition: all 100ms linear;

    &:hover {
        background-color: rgb(244, 212, 151);
    }

    &:active {
        transform: scale(0.95);
        background-color: orange;
    }
    &:focus {
        outline: none !important;
    }
}

