@use './/../styles/baseGlobals' as c;
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        margin-right: 1rem;
    }
    ul {
        list-style: none;
        display:  none ;
    }

    border-bottom: 0.01px solid rgb(212, 209, 209);
    
    @media (min-width: c.$midScreen) {
        margin: 0 10rem;
        button {
            display: none;
        }
        ul {
            display: flex;
            
        }
    }
}

.img {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    cursor: pointer;
}
