@use ".//../styles/baseGlobals" as c;

.sidebarContainer {
    display: flex ;
    position: fixed;
    z-index: 1;
    background-color: c.$Orange;
    // width: 3rem;
    margin-top: 10rem;
    color: white;
    border-radius: 7px;

    @media (min-width: 800px ) {
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 3px solid #fff;
            border-radius: 0.5rem;
            height: 3.5rem;
            padding: 0.3rem;
            margin: 0.3rem ;
            font-size: 2rem;

            &:hover {
                background-color: rgb(194, 117, 23);
            }

        }
    }
}