@use ".//../styles/baseGlobals" as c;

.controllerCtn {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

}

.imageCtn {
    box-sizing: content-box;

    & > div{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
}
